.elementor-1300 .elementor-element.elementor-element-iyrkomn>.elementor-container
	{
	max-width: 1140px;
}

.elementor-1300 .elementor-element.elementor-element-iyrkomn {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow
		0.3s;
}

.elementor-1300 .elementor-element.elementor-element-iyrkomn>.elementor-background-overlay
	{
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1300 .elementor-element.elementor-element-qzvkyuo>.elementor-element-populated
	{
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow
		0.3s;
}

.elementor-1300 .elementor-element.elementor-element-qzvkyuo>.elementor-element-populated>.elementor-background-overlay
	{
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1300 .elementor-element.elementor-element-hubnhca a.elementor-button,
	.elementor-1300 .elementor-element.elementor-element-hubnhca .elementor-button
	{
	font-size: 24px;
}

.elementor-1300 .elementor-element.elementor-element-hubnhca .elementor-widget-container
	{
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow
		0.3s;
}

.elementor-1300 .elementor-element.elementor-element-iaqkvpu .elementor-widget-container
	{
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow
		0.3s;
}